.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 150px;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carousel {
    display: flex;
    max-inline-size: 1200px !important;
    margin-top: 20px;
}
.carousel li {
    width: 229px!important;
    height: 170px;
}
.carousel ul {
    max-inline-size: auto !important;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
