:root{
  --main-blue-color: #2a13db;
  --dark-blue: #1f0fa1;
  --button-blue: #1e00c2;
  --white: #ffffff;
  --yellow: #ffd200;
  --hover-yellow: #ed812b;
  --grey: #333333;
  --black: #17171d;
  --grey-lines: #dee1ef;
  --light-grey: #a4abc4;
  --bg-grey: #efeffd;
  --bg-my: #f4f4f5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

