.header{
    width: 100%;
    padding: 25px;
    border-bottom: 1px solid var(--grey-lines);
}

.title{
    display: inline;
    font-size: 22px;
    font-weight: 900;
    line-height: 1em;
}

.advAmount{
    color: var(--light-grey);
    font-weight: 900;
    font-size: 13px;
    line-height: 1.5em;
}

.wrapper{
    width: 100%;
    display: flex;
    padding: 20px;
}

.sidebar{
    width: 25%;
}

.listItem{
    border-top: 1px solid var(--grey-lines);
    padding: 28px 0;
}
.boxForFilterTitle{
    display: flex;
    align-items: center;
}

.filterTitle{
    width: auto;
    flex: 1;
    line-height: 1.25em;
    font-weight: 500;
    display: inline;
    font-size: 13px;;
}

.filterArrow{
    height: 12px;
    width: 12px;
    font-weight: 500;
}

.filterPriceContainer{
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    margin-top: 15px;
}

.priceInputBox{
    padding: 4px;
    flex: 1;
    width: auto;
}

.price{
    padding: 8px;
    max-height: 34px;
    width: 100%;
    border: 1px solid var(--grey-lines);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 8px;
    background: var(--white);
    color: var(--black);
    font-size: 13px;
}

.space{
    padding: 4px;
}

.priceBtn{
    margin: 0 8px;
}

.filterByPriceBtn{
    background-color: var(--button-blue);
    border-color: var(--button-blue);
    color: var(--white);
    line-height: 1em;
    padding: 4px;
}

.priceBtnIcon{
    color: var(--white);
    width: 24px;
    height: 24px;
}

.main{
    width: 75%;
}

.sortBy{
    width: 100%;
    margin-bottom: 20px;
}

.sortByBtns{
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
}

.sortBtn{
    font-weight: 400;
    font-size: 13px;
    background-color: var(--white);
    color: inherit;
    display: inline-block;
    padding: 11px 15px;
    border: 1px solid var(--grey-lines);
    text-align: center;
    text-decoration: none;
    transition: background-color .15s,border-color .15s,color .15s;
    appearance: none;
    border-radius: 8px;
    cursor: pointer;
    max-width: 100%;
}

.sortBtn:hover{
    color: var(--dark-blue);
    border-color: var(--dark-blue);
    background-color: var(--bg-grey);
}

.categoryWrapper{
    padding: 20px;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
