.header{
    width: 100%;
    padding: 25px;
    border-bottom: 1px solid var(--grey-lines);
}

.title{
    display: inline;
    font-size: 22px;
    font-weight: 900;
    line-height: 1em;
}

.advAmount{
    color: var(--light-grey);
    font-weight: 900;
    font-size: 13px;
    line-height: 1.5em;
}

.wrapper{
    width: 100%;
    display: flex;
    padding: 20px;
}

.sidebar{
    width: 25%;
}

.listItem{
    border-top: 1px solid var(--grey-lines);
    padding: 28px 0;
}
.boxForFilterTitle{
    display: flex;
    align-items: center;
}

.title{

}
.arrow{

}

.main{
    width: 75%;
}

.sortBy{
    width: 100%;
    margin-bottom: 20px;
}

.sortByBtns{
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
}

.sortBtn{
    font-weight: 400;
    font-size: 13px;
    background-color: var(--white);
    color: inherit;
    display: inline-block;
    padding: 11px 15px;
    border: 1px solid var(--grey-lines);
    text-align: center;
    text-decoration: none;
    transition: background-color .15s,border-color .15s,color .15s;
    appearance: none;
    border-radius: 8px;
    cursor: pointer;
    max-width: 100%;
}

.sortBtn:hover{
    color: var(--dark-blue);
    border-color: var(--dark-blue);
    background-color: var(--bg-grey);
}
.products {
    display: flex;
    flex-wrap: wrap;
}
