.mySettingsPageWrapper { /*=myProductsPageWrapper mySalesPageWrapper*/
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mySettingsPageItem {
    margin-top: 18px;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 0;
}

.mySettingsPageItemHeader {
    min-width: 0;
    max-width: 100%;
    border-bottom: 1px solid var(--grey-lines);
    background-color: var(--white);
    margin-bottom: 24px;
}

.itemHeaderTextContent {
    margin: 16px 16px 12px 16px;
}

.itemHeaderText {
    line-height: 1.25em;
    font-weight: 700;
    font-size: 16px;
}

.settingsListWrapper {
    overflow-x: auto;
    -ms-overflow-x: auto;
}

.settingsList {
    display: flex;
    white-space: nowrap;
}

.listItem {
    display: inline-block;
    position: relative;
    min-width: 120px;
}

.listButton{
    padding: 12px 20px;
    height: 40px;
    display: block;
    width: 100%;
    border: 1px solid transparent;
    background: none;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.25;
    transition: background-color .15s,border-color .15s,color .15s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 8px;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    max-width: 100%;
    font-family: inherit;
    font-size: 13px;
    color: var(--black);
}

.listButton:focus {
    color: var(--main-blue-color);
    display: inline-block;
}

.listButton:focus::after {
    content: "";
    border-bottom: 2px solid var(--main-blue-color);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
}

.buttonContent{
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: -2px;
}

.buttonText{
    padding: 2px;
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    line-height: 1.25em;
}

.mainContent{
    font-size: 13px;
}

.formWrapper{
    border-bottom: 1px solid var(--grey-lines);
    background-color: var(--white);
    border-radius: 8px;
    padding: 16px 16px 24px 16px;
}

.formList{
    margin-top: -12px;
    margin-bottom: -12px;
}

.formList li{
    padding-top: 12px;
    padding-bottom: 12px;
}

.inputHeader{
    margin-bottom: 8px;
    font-weight: 700;
}

.formList select{
    padding: 10px 25px 10px 15px;
    width: 100%;
    outline: 0;
    border: 1px solid var(--grey-lines);
    background: var(--white);
    appearance: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: 13px;
    line-height: 1.25em;
    color: var(--black);
}

.selectInfo{
    margin-top: 8px;
}

.formList input{
    width: 100%;
    padding: 11px 16px;
    outline: 0;
    border: 1px solid var(--grey-lines);
    appearance: none;
    border-radius: 8px;
    background: var(--white);
    color: var(--black);
    font-family: inherit;
    font-size: 13px;
    line-height: 1.25em;
}

.inputInfo{
    margin-top: 4px;
}

.inputInfo span{
    color: var(--light-grey);
}

.changeAvatar{
    margin-top: 8px;
}

.changeAvatar label{
    background-color: var(--white);
    color: var(--main-blue-color);
    display: inline-block;
    padding: 11px 15px;
    border: 1px solid var(--grey-lines);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.25;
    vertical-align: middle;
    transition: background-color .15s,border-color .15s,color .15s;
    appearance: none;
    border-radius: 8px;
    pointer-events: auto;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    max-width: 100%;
}

.changeAvatar label:hover{
   border-color: var(--main-blue-color);
}

.changeAvatarInfo{
    font-style: italic;
}

.changeAvatar input{
    display: none;
    font-family: inherit;
    font-size: 13px;
    line-height: 1.25em;
    color: var(--black);
}

textarea{
    width: 100%;
    padding: 11px 16px;
    outline: 0;
    box-shadow: inset 0 0 0 1px var(--grey-lines);
    appearance: none;
    border-radius: 8px;
    background: var(--white);
    color: var(--black);
    resize: none;
    overflow: hidden;
}

.deleteAccount{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin: -4px;
}

.deleteButton{
    flex: none;
    width: 100%;
    padding: 4px;
    min-width: 0;
    max-width: 100%;
}

.deleteButton button{
    border: 1px solid #ce1c2c;
    color: #ce1c2c;
    padding: 11px 15px;
    display: block;
    width: 100%;
    background-color: var(--white);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.25;
    vertical-align: middle;
    transition: background-color .15s,border-color .15s,color .15s;
    appearance: none;
    border-radius: 8px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    max-width: 100%;
    font-family: inherit;
    font-size: 13px;
}

.deleteButton button:hover{
    border-color: #a32e2e;
    color: #a32e2e;
}

.deleteAccount p{
    flex: none;
    width: 100%;
    padding: 54px;
    min-width: 0;
    max-width: 100%;
    color: var(--light-grey);
    line-height: 1.25em;
}
@media only screen and (min-width: 768px) {
    .mySettingsPageItemHeader {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    .itemHeaderTextContent {
        margin: 20px 16px 20px 16px;
    }

    .itemHeaderText {
        font-weight: 900;
        font-size: 22px;
    }

    .formWrapper{
        width: 50%;
    }

    .deleteAccount{
        margin: -8px;
    }

    .deleteButton{
        flex: none;
        width: 50%;
        padding: 8px;
    }

    .deleteAccount p{
    flex: none;
    width: 50%;
    padding: 8px;
}
}
