.container {
    display: flex;
    width: 95%;
    flex-direction: column;
    margin: 50px 25px 0 25px;
}

.container_header {
    display: flex;
    width: 100%;
    column-gap: 2%;
    height: 500px;
}

.container_image {
    width: 75%;
}

.carousel_image {
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    width: 25%;
    height: 500px;
    flex-direction: column;
    padding-top: 20px;
    row-gap: 4%;
    box-sizing: border-box;
}

.title h2 {
    font-size: 22px;
    font-weight: bold;
}

.title h3 {
    font-size: 28px;
    font-weight: bolder;
}

.title h4 {
    font-size: 14px;
    color: #dee1ef
}

.smallSlider {
    background: #EFEFFD;
    display: flex;
    height: 50px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 5%;
    width: 65%;
    margin-left: 70px;
}

.smallSlider h2 {
    font-size: 14px;
    font-weight: bold;
}

.smallSlider h3 {
    font-size: 12px;
    font-weight: normal;
}

.smallSlider_box {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}

.address {
    font-size: 14px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.address h4 {
    color: black;
    font-weight: bold;
}

.address img {
    height: 20px;
    width: 20px;
}

.button_buy {
    background: var(--main-blue-color);
    color: white;
    height: 35px;
    font-size: 16px;
    border-radius: 10px;
}

.button_write {
    background: white;
    border: 1px solid #dee1ef;
    color: var(--main-blue-color);
    height: 35px;
    font-size: 16px;
    border-radius: 10px;
}

.user {
    height: 130px;
    border: 1px solid #dee1ef;
    border-radius: 10px;
}

.user_header {
    display: flex;
    margin: 15px;
    column-gap: 20px;
}

.user_header h2 {
    font-weight: bold;
    font-size: 16px;
}

.user_header h3 {
    font-size: 14px;
}

.user_header h5 {
    font-size: 14px;
}


.user_header img {
    width: 55px;
    height: 55px;
}

.user_bottom {
    margin: 15px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #dee1ef;
}
.user_bottom a {
    padding-top: 15px;
}

.bottom {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-top: 1px solid #9c9898;
    padding-top: 20px;
}

.bottom h2 {
    font-size: 20px;
    font-weight: bold;
}

.bottom h4 {
    padding-top: 20px;
}
