.container {
    display: flex;
    padding: 0 25px;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
}

.container_header {
    display: flex;
    width: 100%;
    column-gap: 2%;

}

.container_image {
    width: 70%;
}

.carousel_image {
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    width: 30%;
    height: 500px;
    flex-direction: column;
    padding-top: 20px;
    row-gap: 4%;
}

.title h2 {
    font-size: 22px;
    font-weight: bold;
}

.title h3 {
    font-size: 28px;
    font-weight: bolder;
}

.title h4 {
    font-size: 14px;
    color: #dee1ef
}

.smallSlider {
    background: #EFEFFD;
    display: flex;
    height: 50px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 5%;
    width: 70%;
    margin-left: 70px;
}

.smallSlider h2 {
    font-size: 14px;
    font-weight: bold;
}

.smallSlider h3 {
    font-size: 12px;
    font-weight: normal;
}

.smallSlider_box {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}

.navigation {

}

.navigation_box{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}

.button_buy {
    background: var(--main-blue-color);
    color: white;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
}

.button_write {
    background: white;
    border: 1px solid #dee1ef;
    color: var(--main-blue-color);
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-top: 1px solid #9c9898;
    padding-top: 20px;
}

.bottom h2 {
    font-size: 20px;
    font-weight: bold;
}

.bottom h4 {
    padding-top: 20px;
}
