.myBonusesPageWrapper { /*=myProductsPageWrapper  mySalesPageWrapper  myPurchasesPageWrapper myRatingPageWrapper myBalancePageWrapper*/
    flex: 1;
    display: flex;
    flex-direction: column;
}

.myBonusesPageItem { /*=mySalesPageItem  myPurchasesPageItem myRatingPageItem myBalancePageItem*/
    margin-top: 18px;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 0;
}

.myBonusesPageItemHeader { /*mySalesPageItemHeader  myPurchasesPageItemHeader myRatingPageItemHeader myWalletBalancePage*/
    min-width: 0;
    max-width: 100%;
    border-bottom: 1px solid var(--grey-lines);
    background-color: var(--white);
}

.itemHeaderTextContent { /*=mySalesPage  myPurchasesPage myRatingPage myWalletBalancePage*/
    margin: 16px 16px 12px 16px;
}

.itemHeaderText { /*=mySalesPageItemHeader  myPurchasesPage myRatingPage myWalletBalancePage*/
    line-height: 1.25em;
    font-weight: 700;
    font-size: 16px;
}

.bonusesListWrapper { /*=salesListWrapper  purchasesListWrapper ratingListWrapper myWalletBalancePage*/
    overflow-x: auto;
}

.bonusesList { /*=salesList  purchasesList ratingList*/
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.listItem { /*=mySalesPage  myPurchasesPage myRatingPage myWalletBalancePage*/
    display: inline-block;
    position: relative;
    min-width: 120px;
}

.listButton { /*=  myPurchasesPage myWalletBalancePage*/
    padding: 12px 20px;
    max-width: 100%;
    height: 40px;
    display: block;
    border: 1px solid transparent;
    background: none;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.25;
    transition: background-color .15s, border-color .15s, color .15s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 8px;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: 13px;
    color: var(--black);
}

.link .listButton:focus { /*=mySalesPage  myPurchasesPage myWalletBalancePage*/
    color: var(--main-blue-color);
    display: inline-block;
}

.link .listButton:focus::after { /*=mySalesPage  myPurchasesPage myWalletBalancePage*/
    content: "";
    border-bottom: 2px solid var(--main-blue-color);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
}

.buttonContent { /*=mySalesPage  myPurchasesPage myWalletBalancePage*/
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: -2px;
}

.buttonText { /*=mySalesPage   myPurchasesPage myWalletBalancePage*/
    padding: 2px;
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    line-height: 1.25em;
}

.mainContent {
    flex: 1;
    width: auto;
}

.mainInfoWrapper {
    height: 100%;
    padding-top: 8px;
}

.mainInfo {
    height: 100%;
}

.mainInfoBlock {
    min-width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.topBlock {
    min-width: 0;
    max-width: 100%;
}

.topBlockWrapper {
    border-bottom: 1px solid var(--grey-lines);
    background-color: var(--white);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 8px;
}

.topBlockInfo{
    min-width: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -4px;
}

.topBlockInfoWrapper{
    padding: 4px;
    flex: 1;
    width: auto;
    min-width: 0;
    max-width: 100%;
}

.topBlockInfoWrapper > span{
    line-height: 1.25em;
    font-weight: 700;
}

.topBlockDataWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 0;
}

.topBlockDataHeader{
    min-width: 0;
    max-width: 100%;
}

.topBlockDataHeader > button{
    padding: 0;
    margin: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.ButtonWrapper{
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    margin: -6px;
}

.ButtonWrapper > p{
    padding: 6px;
    min-width: 0;
    max-width: 100%;
    font-weight: 700;
    font-size: 16px;
}

.buttonIcon{
    min-width: 0;
    max-width: 100%;
    padding: 6px;
}

.buttonIcon > span{
    color: var(--main-blue-color);
}

.buttonIcon svg{
    vertical-align: middle;
}

.topBlockDataInfo{
    min-width: 0;
    max-width: 100%;
}

.topBlockDataInfo > span{
    font-size: 22px;
}

.mainBlock{
    flex: 1;
    width: auto;
    min-width: 0;
    max-width: 100%;
}

.mainBlockWrapper{
    border-bottom: 1px solid var(--grey-lines);
    background-color: var(--white);
    height: 100%;
    border-radius: 8px;
    padding: 16px;
}

.contentWrapper{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    justify-content: center;
}

.contentWrapper > div{
    min-width: 0;
    max-width: 100%;
}

.contentBox{
    height: 100%;
    padding: 16px 28px 16px 28px;
    margin: 0 28px 0 28px;
}

.contentBox > img{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: 0;
    max-width: 100%;
    max-height: 100%;
}

.contentBox h3{
    margin-top: 28px;
    margin-bottom: 16px;
    line-height: 1.25em;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.contentBox p{
    text-align: center;
    line-height: 1.25em;
}

.detailsButtonWrapper{
    padding: 24px 0 24px 0;
}

.detailsButtonWrapper > div{
    text-align: center;
}

.detailsButtonWrapper button{
    max-width: 100%;
    font-weight: 500;
    font-size: 13px;
    font-family: inherit;
    background-color: transparent;
    color: var(--main-blue-color);
    border: 1px solid transparent;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    transition: background-color .15s,border-color .15s,color .15s;
    appearance: none;
    border-radius: 8px;
    pointer-events: auto;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.detailsButtonWrapper button:hover{
    text-decoration: underline;
}


@media only screen and (min-width: 768px) {
    .myRatingPageItemHeader { /*=mySalesPageItemHeader  myPurchasesPageItemHeader*/
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    .itemHeaderTextContent { /*=mySalesPage  myPurchasesPage*/
        margin: 20px 16px 20px 16px;
    }

    .itemHeaderText { /*=mySalesPage  myPurchasesPage*/
        font-weight: 900;
        font-size: 22px;
    }

    .topBlockInfo{
        margin: -6px;
    }

    .topBlockInfoWrapper{
        padding: 6px;
    }

}




