.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 50px;
    text-align: center;
}
.category img {
    width: 44px;
    height: 44px;
}
.category h2 {
    margin-top: 20px;
}
