.wrapper {
    max-width: 1200px;
    min-height: 70px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-blue-color);
}

.nav {
    display: flex;
    align-items: center;
    width: 30%;
}

.logo {
    color: var(--white);
    font-size: 22px;
    font-weight: bolder;
}

.menu {
    margin: 0 10%;
}

.menu:hover {
    border-radius: 10px;
    background-color: var(--dark-blue);
}

.categoriesListIcon {
    color: var(--white);
}

.categoriesListBtn {
    border: none;
    background: none;
    outline: none;
    padding: 8px;
}

.categoriesListWrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.categoriesListIcon {
    height: 20px;
    width: 20px;
    font-weight: 500;
}

.categoriesListIcon, .categoriesListText {
    color: var(--white);
}

.categoriesListText {
    font-size: 12px;
    font-weight: 500;
}

.search {
    display: flex;
    width: 50%;
    margin: 0 10px;
    background-color: var(--white);
    border-radius: 10px;
}

.form {
    width: 100%;
}

.formWrapper {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

input {
    width: 100%;
}

.formInput {
    color: var(--grey);
    width: 100%;
}

.formBtn {
    padding: 8px;
    background: none;
}

.formBtnIcon {
    color: var(--black);
    width: 20px;
    height: 20px;
    font-weight: 600;
}

.formBtn:hover{
    background-color: var(--hover-white);
    border-radius: 7px;
}


.userMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 30%;
    margin-left: 15px ;
}

.addAdvertisementWrapper{
    width: 100%;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 7px;
    background-color: var(--yellow);
    border-radius: 25px;
    padding: 8px 18px;
    color: var(--main-blue-color);
}

.addAdvertisementWrapper:hover{
    background-color: var(--hover-yellow);
}

.addAdvertisementIcon{
    width: 20px;
    height: 20px;
}

.addAdvertisementText{
    font-size: 12px;
}

.login a {
    color: var(--white);
}

.login a:hover {
    text-decoration: underline;
}

@media(max-width: 1100px) {
.addAdvertisementWrapper{
    margin-left: 0;
}
}

@media(max-width: 992px) {

    .logo {
        font-size: 18px;
    }

    .categoriesListBtn {
        padding: 4px;
    }

    .categoriesListIcon {
        height: 14px;
        width: 14px;
    }
    .categoriesListText, .addAdvertisementIcon{
        font-size: 10px;
    }

    .formWrapper {
        padding: 5px;
    }

    .formBtn {
        padding: 4px;
    }

    .formBtnIcon {
        width: 14px;
        height: 14px;
        font-weight: 400;
    }

    .addAdvertisementWrapper{
        padding: 4px 12px;
    }

    .addAdvertisementIcon{
        width: 14px;
        height: 14px;
    }

    .login{
        font-size: 12px;
    }
}

@media(max-width: 768px) {
    .wrapper{
        padding: 0 15px;
    }

    .nav{
        justify-content: space-between;
    }

    .logo {
        font-size: 14px;
    }

    .categoriesListText, .addAdvertisementText{
        display: none;
    }

    .categoriesListIcon, .addAdvertisementIcon{
        height: 18px;
        width: 18px;
    }
    .nav{
        justify-content: space-around;
    }

    .userMenu{
        justify-content: space-around;
    }

    .formWrapper{
       flex-direction: row-reverse;
    }

    .formBtnIcon {
        width: 14px;
        height: 14px;
        color: var(--grey);
        margin-right: 15px;
    }

    .addAdvertisementWrapper{
        padding: 4px 8px;
    }

    .addAdvertisementText{
        font-size: 10px;
    }

    .addAdvertisementIcon{
        width: 10px;
        height: 10px;
    }

    .login{
        font-size: 10px;
    }
}

@media(max-width: 420px) {
    .wrapper{
        justify-content: space-between;
    }
    .logo{
        display: none;
    }
   input[placeholder]{
       display: none;
   }
    .userMenu{
        margin: 0;
    }
}
