.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    flex: 0 0 auto;
}

.main{
    flex: 1 1 auto;

}

.footer{
    width: 100%;
    min-height: 50px;
    padding: 0 25px;
    background-color: var(--main-blue-color);
    flex: 0 0 auto;
    color: white;
}
