doctype html
html
    head
        style
            include style.css

    body
        div.header
            h2 IziClone

        div.content
            block content

        div.footer
            p We appreciate your time and feedback!
            p Your friend from IziClone
