doctype html
html
    head
        style
            include style.css

    body
        div.header
            | IziClone

        div.content

        div.footer
            | We appreciate your time and feedback!
            | Your friend from IziClone
