.createProduct {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.header {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 1px solid lightgrey;
}
.formAndDescription {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.divInputImage {
    width: 650px;
    height: 180px;
}
.inputImage {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 650px;
    height: 150px;
}
.oneImage {
    display: flex;
}
.productForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.labelImage {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.label {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.input {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 650px;
    height: 50px;
    margin-left: 20px;
}
.inputStatus {
    border: 1px solid lightgrey;
    width: 650px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 20px;
}
.imageBox {
    display: flex;
    /*width: 1200px;*/
    justify-content: space-between;
}
.allImage {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}
.oneImage {
    display:flex;
    flex-direction: column;
    margin: 2px;
}
.buttonImage {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 2px;
}
#myDIV {
    display: none;
}
.imageProduct {
    display: flex;
}
.myImage {
    width: 150px;
    height: 150px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.addImage {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    font-size: 14px;
    background-color: lightgrey;
    margin-top: 5px;
}
.headerDescription {
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}
.buttonForm {
    width: 115px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--main-blue-color);
    color: white;
}
.rules {
    width: 18%;
}
.a {
    width: 500px;
}
@media (max-width: 860px) {
    .formAndDescription {
        display: block;
    }
    /*.imageBox {*/
    /*    display: flex;*/
    /*    width: 680px;*/
    /*    justify-content: space-between;*/
    /*}*/
    .allImage {
        display: flex;
        flex-wrap: wrap;
        width: 310px;
    }
    .divInputImage {
        width: 450px;
        height: 180px;
    }
    .inputImage {
        border: 1px solid lightgrey;
        border-radius: 10px;
        width: 450px;
        height: 150px;
    }
    .myImage {
        width: 140px;
        height: 140px;
    }
    .input {
        width: 450px;
        margin-left: 0;
        margin-top: 5px;
    }
    .label {
        padding: 0 0;
    }
    .rules {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .formAndDescription {
        display: block;
    }
    .divInputImage {
        width: 500px;
        height: 180px;
    }
    .inputImage {
        border: 1px solid lightgrey;
        border-radius: 10px;
        width: 500px;
        height: 150px;
    }
    .allImage {
        display: flex;
        flex-direction: column;
    }
    .myImage {
        width: 100px;
        height: 100px;
    }
    .input {
        width: 500px;
        margin-left: 0;
    }
    .label {
        padding: 0 0;
    }
    .rules {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .formAndDescription {
        display: block;
    }
    .divInputImage {
        width: 240px;
        height: 180px;
    }
    .inputImage {
        border: 1px solid lightgrey;
        border-radius: 10px;
        width: 240px;
        height: 150px;
    }
    .allImage {
        display: flex;
        flex-direction: column;
    }
    .myImage {
        width: 100px;
        height: 100px;
    }
    .input {
        width: 240px;
        margin-left: 0;
    }
    .label {
        padding: 0 0;
    }
    .rules {
        width: 100%;
    }
}

